[project]
	description = new branch
[access "refs/*"]
	owner = group user/Anthony Roberts (AnthonyBRoberts)
[access "refs/for/refs/*"]
	read = group user/Anthony Roberts (AnthonyBRoberts)
	push = group user/Anthony Roberts (AnthonyBRoberts)
	label-Code-Review = -2..+2 group user/Anthony Roberts (AnthonyBRoberts)
	label-Verified = -1..+1 group user/Anthony Roberts (AnthonyBRoberts)
	rebase = group user/Anthony Roberts (AnthonyBRoberts)
	removeReviewer = group user/Anthony Roberts (AnthonyBRoberts)
	submit = group user/Anthony Roberts (AnthonyBRoberts)
[access "refs/heads/*"]
	read = group user/Anthony Roberts (AnthonyBRoberts)
	create = group user/Anthony Roberts (AnthonyBRoberts)
	push = +force group user/Anthony Roberts (AnthonyBRoberts)
	pushMerge = group user/Anthony Roberts (AnthonyBRoberts)
[access "refs/tags/*"]
	push = +force group user/Anthony Roberts (AnthonyBRoberts)
	pushTag = group user/Anthony Roberts (AnthonyBRoberts)
	pushSignedTag = group user/Anthony Roberts (AnthonyBRoberts)
